/*pagina inicio*/

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Montserrat|Open+Sans|Roboto&display=swap');

body {
background:#c2e8ce;	
background-attachment: fixed;
background-size: cover;
margin: 0;
padding: 0;
position: absolute;
font-family:'Roboto', sans-serif;
width: 100%;
height: 100%;
top: 0;
font-weight: 400;
font-size: 15px;
color: #2F2F2F;
line-height: 1.5em;
}


h1 {
margin: 70px 0;
font-family:'Montserrat', sans-serif;
color:#2F2F2F;
font-size: 2.3em;
line-height: 1.3em;
text-align: center;
font-weight: 300;
}

	 
p {
font-size: 1.5em;
line-height: 1.3em;	
font-family:'Roboto', sans-serif;
margin: 0 1.5em 1.5em 0;
text-align: left; 
}



#main-header {
background: #333;
color:#ffffff;
height: 80px;
width: 100%; 
left: 0; 
top: 20px; 
position: fixed;
}

#main-header a {
color: #ffffff;
}



     
/* Logo gift box */

#logo-header {
float: left;
padding:20px 0 0 20px;
text-decoration: none;
}

#logo-header .site-name {
font-family:"Bebas Neue", cursive;
margin-top: 15px;
display: block;
font-weight: 1;
font-size: 4em;
}



/*SLider*/	

.slider {
width: 95%;
margin: auto;
margin-top:-50px;
overflow: hidden;
}
		
.slider ul {
display: flex;
padding: 0;
width: 400%;
animation: cambio 20s infinite alternate linear;
}

.slider li {
width: 100%;
list-style: none;
}
		
.slider img {
width: 100%;
}
		
@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
			
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
			
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
			
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
		


	 
/* Menu*/

nav {
float: right;
}
	
nav ul {
margin: 0;
padding: 0;
list-style: none;
padding-right: 20px;
}
		
nav ul li {
display: inline-block;
line-height: 80px;
}
				
nav ul li a {
display: block;
padding: 0 10px;
text-decoration: none;
}
				
nav ul li a:hover {
background:#9f116a;
}	 

#main-content {
background:#f5ffff;
width: 90%;
max-width: 800px;
margin: 20px auto;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
					 
#main-content header,
#main-content .content {
padding: 30px;
}
	






					

* {
margin: 0px;
padding: 0px;
}

/*CSS DE LOS PRODUCTOS*/
img.imagen {
margin-left:auto;
margin-right:auto;
display:block;
padding-top:5px;
}

div.etiquetas {
color:pink;
text-align:center;
width:222px;
height:22px;
}

div.stock {padding-left:0px;}

input.uniBien {
position:relative;
margin-left:45px;
background:white;
}

input.uniMal {
	margin-left:52px;
	background:red;
}


div.divsNo {display:none;}
div.divsSi {display:yes;}

#todo{
position:relative;
top:0px;
margin-left:auto;
margin-right:auto;
display:block;
width:62%;
line-height: 1.0em;
background: #f5ffff no-repeat;
box-shadow: 0 0 10px rgba(0,0,0,.1);
}


div.todoNo{height:800px;}
div.todoSi{height:800px;}


#menu{
position:absolute;
top:26px;
left:143px;
width:715px;
}

div.menuNo{height:775px;}
div.menuSi{height:1040px;}

/*Divs para colocar cada producto en su sitio*/

#div1{
position:absolute;
top:38px;
left:12px;
width:221px;
height:217px;
}

#div2{
position:absolute;
top:38px;
left:246px;
width:221px;
height:217px;
}

#div3{
position:absolute;
top:38px;
left:480px;
width:221px;
height:217px;
}

#div4{
position:absolute;
top:271px;
left:12px;
width:221px;
height:217px;
}

#div5{
position:absolute;
top:271px;
left:246px;
width:221px;
height:217px;
}

#div6{
position:absolute;
top:271px;
left:480px;
width:221px;
height:217px;
}

#div7{
position:absolute;
top:504px;
left:12px;
width:221px;
height:217px;
}

#div8{
position:absolute;
top:504px;
left:246px;
width:221px;
height:217px;
}

#div9{
position:absolute;
top:504px;
left:480px;
width:221px;
height:217px;
}



/*CSS DEL CARRITO DE LA COMPRA*/
/*Div para los botones*/

#divbotones{
position:relative;
top:742px;
left:11px;
width:440px;
height:23px;
}

#tablaTotal {
margin: 0px 0px 0px 0px;
}
td.pro {
width:300px;
text-align:center;
background:#1a6c68;
}
td.uni {
width:150px;
text-align:center;
background:#1a6c68;
}
td.preUni {
width:150px;
text-align:center;
background:#1a6c68;
}
td.preTotal {
width:150px;
text-align:center;
background:#1a6c68;
}
tr.proCarrito {
text-align:center;
}


/*Divs para la zona de compras*/
div.divZonaCompraSi{
position:relative;
top:742px;
padding:0px 11px 20px 11px;
display:yes;
width:693px;
height:auto;

background:#3c8c89;
}
div.divZonaCompraNo{
position:relative;
top:742px;
padding:0px 11px 20px 11px;
display:none;
width:693px;
height:385px;

background:#3c8c89;
}




/*Divs del carrito y formularios*/
	#divTotal{
	background:#378582;
	}
	#divDatos{
	background:#378582;
	}

	#divPago{
	height: 150px;
	padding-left:10px;
	background:#378582;
	}
	
	#divDatosPersonales0 {
		position:relative;
		left:0px;
		padding:0px 0px 0px 10px;
		width:440px;
		height:140px;
	}

	#divDatosPersonales1 {
		position:relative;
		width:230px;
		height:130px;
	}

	#divDatosPersonales2 {
		position:relative;
		top:-130px;
		left:260px;
		width:200px;
		height:130px;
	}

	#divDomicilio{
		padding:0px 0px 0px 10px;
	}


	
	
	
/*CSS VALIDACION*/	
	input.textBien {background:#d1fbe1;}
	input.textMal {background:pink;}
	select.textBien {background:#d1fbe1;}
	select.textMal {background:pink;}	
	span.alertTipoDeTarjeta {color:red;}

	
	
/*Metodos de pago*/	
#metodosDePago{
	position:relative;
	top:8px;
	width:128px;
	height:60px;
}

#divNumeroTarjeta{
	position:relative;
	top:-52px;
	left:140px;
	width:180px;
	height:70px;
}

input.logoTarjetas { 
	bottom:6px;
	position: relative;
}	



	
	
/*Pie de pagina	*/

footer{
  text-align:center;
}
a:link {
	color:white;
}	
#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	
#main-footer p {
		margin: 0;
	}
	
	
#main-footer a {
		color: white;
	}

	
	
	
	
	
	
	
	

